#leftOfMain {
	padding:0 0 20px 10px;
}

#leftOfMain .left, #leftOfMain .right{
	position: relative;
	width: 315px;
	height: 360px;
	padding:0 ;
	margin: 0 auto 10px;
	border-radius: 5px;
}

#h3{
	padding: 10px;
}

#leftOfMain .left h3, #leftOfMain .right h3{
	border: none;
	color: white;
	background-color: teal;
	padding: 10px 0 10px 0;
	margin-bottom: 0;
	width: 315px;
	position: absolute;
	bottom: 5px;
	left:0;
	z-index: 1;
	font-size: 1.1em;
	text-align: center;
}

#leftOfMain  img{
	width:315px;
	height: 360px;
	border:none;
	padding: 0;
	margin:0;
}